<h1>Upcoming Bills</h1>

<form id="committee">
  <div class="form-group">
    <button type="button" value="houseBills" name="upcomingBills" class="btn btn-primary" {{action "billsLookupHouse"}}>Upcoming House Bills</button>
    <button type="button" value="senateBills" name="upcomingBills" class="btn btn-primary" {{action "billsLookupSenate"}}>Upcoming Senate Bills</button>

  </div>
</form>
